html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container{
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #566A77;
}

.calculator-screen{
  width: 100%;
  border-radius: 10px;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #566A77; 
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  margin-top: 30px;
}

button {
  height: 60px;    
  background-color: transparent;
  font-size: 2.5rem;
  color: #fff;
  border: none;
  font-weight: bold;
 
}

.btnValue:hover{
  background-color: #abcce6;
  border: none;
  border-radius: 50%;
  box-shadow: none;
}

.operator {
  color: #fff;
  background-color: #849DB0;
  border: none;
  border-radius: 50%;
  box-shadow: none;
}

.operator:hover{
  background-color: #abcce6;  
}

.equal-sign {
  background-color: #FFD85B;
  border-color: #FFD85B;
  color: #252522;
  border-radius: 50px;
  height: 100%;
  grid-area: 2 / 4 / 5 / 5;
}

.equal-sign:hover {
  background-color: #fbc205;
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 grid-gap: 20px;
 padding: 20px;
}

